<div class= "container text-center">
    <h1>About</h1>
    <p> We Are SkillMatch. A company that focuses on facilitating inter-departmental collaboration and networking for students within various universities and campuses.</p>
</div>